extends layout

block layout-content
  div.View.WelcomeView
    div.Message
      div.Title
        h3 Timecards Entry
        div.NavButtons
          a(href="/entry")
            div.NavButton Go!
    